

<!-- plant image -->


<img class="show_image" src="<%=@plant.image_url%>">


<!-- information to the right of image -->

<div class="plant_info">

  <h2> <%=@plant.name%> </h2>


  <div class="post_comment">
    <form class="post_button" action="/comments" method="post">
      <input type="hidden" name="plant_id" value="<%=@plant.id%>">
      <textarea name="body" id="" cols="30" rows="18"></textarea>
      <button class="fake_link">post comment</button>
    </form>
  </div>


  <div class="comments"> 
    <% @comments.each do |comment| %>
      <p><%=comment.user.name%>: <%= comment.body%></p>
    <% end %>
  </div>



</div> 

  <div class="post_options">

    <a href="/plants/<%=@plant.id%>/edit">edit</a>
    
    <form action="/plants/<%=@plant.id%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button class="fake_link">delete</button>
    </form> 

  </div>






